<div class="row">
  <div class="large-6 medium-6 columns">
    <h3>description</h3>
    <p><%= team.description %></p>
  </div>

  <div class="large-6 medium-6 columns">
    <h3>url</h3>
    <p><%= link_to team.homepage, team.homepage %></p>
  </div>
</div>
