<div class="row">
  <div class="columns large-10 large-centered">
    <h1 class="centered"><%= @team.name  %></h1>

    <%= render 'teams/navigation', team: @team %>

    <%= render 'teams/team_details', team: @team %>
    <%= render 'teams/members', members: @team.members %>
    <%- if @team.bonus? %>
      <p>This team qualifies for bonus points because all members have from different managers.</p>
    <% end %>
  </div>
</div>
