<div class="row">
  <div class="columns large-10 large-centered">
    <h1 class="centered">Your Votes for <%= @scorecard_report.year %></h1>

    <%= render 'scorecards/report', scorecard_report: @scorecard_report %>
  </div>
</div>
