<div class="row">
  <div class="columns large-10 large-centered">
    <h1 class="centered">Your Votes for <%= @scorecard_report.year %></h1>
    <%- if dynamic_users? %>
      <p>Hi, <%= current_user.name %></p>
    <% end %>

    <%= render 'scorecards/report', scorecard_report: @scorecard_report %>

    <%= link_to 'Delete my votes', scorecard_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert' %>
  </div>
</div>
