$blue-dark: #2c3e50;
$blue-light: #2383c4;
$dark: $blue-dark;
$gray: #95a5a6;
$green: #18bc9c;
$light: #ffffff;
$orange: #d2850b;
$red: #df2e1b;

$active: $green;
$background-color: $light;
$nav-bar-link-color: $dark;
$year: $green;

$font-stack: 'Titillium Web', serif;
