<section class='splash'>
  <p class='splash-keyword'>Clash</p>
  <p class='splash-joining-words'>of the</p>
  <p class='splash-keyword'>Coders</p>
  <p class='splash-keyword splash-year'><%= Date.current.year %></p>
</section>
