 <ul class="right">
   <li>
     <%= link_to scorecard_link_text, scorecard_link, rel: I18n.t('rel.scorecard') %>
   </li>
   <li>
     <%= link_to 'Scoreboard', scoreboard_path, rel: I18n.t('rel.scoreboard') %>
   </li>
   <li>
     <%= link_to 'Teams', teams_path, rel: I18n.t('rel.all_teams') %>
   </li>
   <li>
     <%= link_to 'Log out', session_path, method: :delete %>
   </li>
 </ul>
